#main_title{
	font-family: Arial;
}

#intro{
	font-family: Arial;

}

html,
body {
	background-image: url(".png")
	background-size: cover;
	background-color: #00897B;
}
body {
	color: #fff;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
	opacity: 30%;
   



}
#thanks{
	font-size: 35px;
}